<main class="w-100 m-auto text-center" style="max-width: 600px;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title clearfix py-2 px-5">
                <div class="py-3 px-3 row justify-content-center">
                    <partial name="_AppBrand" />
                </div>
            </h5>

            <div class="card-text lead px-2 pb-5 pt-2">
                <p class="lead">
                    <em>"Apogee-dev Identity</em> is an authentication service for applications hosted on
                    <em>apogee-dev.com</em> domains. It supports social logins for multiple third party services
                    likes of Google & GitHub.
                </p>
                <partial name="_DataUsage" />
            </div>
        </div>
    </div>
    <hr />
    <partial name="_Privacy" />

</main>
