<div class="modal fade text-start" id="dataUsageModal" tabindex="-1" aria-labelledby="dataUsageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dataUsageModalLabel">Data Usage</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="_DataUsage" model="new DataUsageViewModel { ShowAffiliatedApps = true }" />
            </div>
        </div>
    </div>
</div>