<p class="mt-2 mb-3 text-body-secondary">
    <span>© 2024 - Apogee-dev Identity -</span>
    <a class="ms-1" href="https://www.apogee-dev.com/privacy/" target="_blank">Privacy<i
            class="bi bi-box-arrow-up-right align-baseline ms-1"></i>
    </a>
</p>