@model LoginViewModel
<partial name="_NavBrand" />
<main class="form-signin w-100 m-auto text-center">

    <p class="lead mb-2 fs-4">Sign in to</p>
    <h1 class="h3 fw-normal">@Model.AppDisplayName</h1>
    <hr />
    <div class="vstack gap-1 my-5">
        <div class="p-2">
            <form asp-route="AuthorizeWithGoogle" method="post">
                <partial name="_GoogleButton" />
                <input asp-for="@Model.RedirectUrl" type="hidden" />
            </form>
        </div>

        <div class="p-2">
            <form asp-route="AuthorizeWithGithub" method="post">
                <button type="submit" class="btn btn-light">
                    <i class="bi bi-github"></i> Sign in with Github
                </button>
                <input asp-for="@Model.RedirectUrl" type="hidden" />
            </form>
        </div>
    </div>
    <hr />
    <partial name="_Privacy" />

</main>