@model MultipleUriViewModel

@if (Model.Uris?.Any() == true)
{
    foreach (var uri in Model.Uris)
    {
        <partial name="_UriSelectedDisplay" model="uri" />
    }
}

<div class="d-flex multiple-uri-input">
    <div class="w-100 pe-2">
        <input class="form-control" id="@Model.Id" type="URL">
    </div>
    <div class="flex-shrink-1">
        <button class="btn btn-secondary btn-small">Add</button>
    </div>
</div>
